<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mini.css">
    <title>MINI BLOG</title>
</head>
<body>
    <header>        
        <nav class="dupla">
            <div class="bo">
                <a href="#cadastro"><button class="botao">
                Cadastro de noticia
               </button></a>
               
            </div>
            <div class="titulo">
             <img class="logo" src="assets/studiis_spa-removebg-preview.png">
            </div>
            </div>
            <div>
                <input class="busca" type="text" id="txtBusca" placeholder="Buscar..."/>
            </div>
        </nav>
    </header>

    

    <main>
        <section>
            <div class="container-pri">
                <h2>Principais informações</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed necessitatibus doloremque illum dolorem a itaque quia tenetur, nostrum aliquam suscipit accusantium beatae dolore, quis temporibus officiis quod sint. Aperiam, corrupti.</p>
            </div>
        </section>
        <section>
            <div class="container-sec">
                <h2>Tópicos</h2>
                <p class="topic">•Publicações recentes         •Publicações mais procuradas         •Resumo          •Mapas mentais</p>
            </div>
        </section>
    </main>


    <section class="pr">
        <h2 id="publir" class="text">Publicaçõe recentes</h2>
    </section>


    <main>
        <section>
            <section class="pri" >
            <div class="t1">
                <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi mollitia possimus in? Ex et non cum soluta molestiae, mollitia unde quis aut praesentium ad quam quo. Nam, quibusdam a.</p>
            </div>
            <div class="t2">
                <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi mollitia possimus in? Ex et non cum soluta molestiae, mollitia unde quis aut praesentium ad quam quo. Nam, quibusdam a.</p>
            </div>
        </section>
        <section class="seg">
            <div class="t3">
                <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi mollitia possimus in? Ex et non cum soluta molestiae, mollitia unde quis aut praesentium ad quam quo. Nam, quibusdam a.</p>
            </div>
            <div class="t4">
                <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi mollitia possimus in? Ex et non cum soluta molestiae, mollitia unde quis aut praesentium ad quam quo. Nam, quibusdam a.</p>
             </div>
        </main>
    <section class="pr">
        <h2 class="text">Publicações mais procuradas</h2>
    </section>


    <main>
        <section>
            <section class="pri" >
            <div class="t1">
                <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi mollitia possimus in? Ex et non cum soluta molestiae, mollitia unde quis aut praesentium ad quam quo. Nam, quibusdam a.</p>
            </div>
            <div class="t2">
                <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi mollitia possimus in? Ex et non cum soluta molestiae, mollitia unde quis aut praesentium ad quam quo. Nam, quibusdam a.</p>
            </div>
        </section>
        <section class="seg">
            <div class="t3">
                <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi mollitia possimus in? Ex et non cum soluta molestiae, mollitia unde quis aut praesentium ad quam quo. Nam, quibusdam a.</p>
            </div>
            <div class="t4">
                <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quasi mollitia possimus in? Ex et non cum soluta molestiae, mollitia unde quis aut praesentium ad quam quo. Nam, quibusdam a.</p>
             </div>
        </main>
        <h2 class="resumo">Resumo</h2>
        <section class="pag3-section">
            <div class="container-pag3"><h3 class="titulo-c-pag">Resumo</h3></div>
            <div class="container-pag3"><h3 class="titulo-c-pag">Resumo</h3></div>
            <div class="container-pag3"><h3 class="titulo-c-pag">Resumo</h3></div>
            <div class="container-pag3"><h3 class="titulo-c-pag">Resumo</h3></div>
        </section>

        <section class="pr">
            <h2 class="text">mapas mentais</h2>
        </section><div class="titulo-pag3">

        </div>
        <main>
    <main>

        <section>
            <section class="pri" >
            <div class="imag">
                <h2>imagem</h2>
                    <img src="assets/studiis.png" alt="">
            </div>
            <div class="imag">
                <h2>imagem</h2>
                <img src="assets/studiis.png" alt="">
            </div>
        </section>
        <section class="seg">
            <div class="imag">
                <h2>imagem</h2>
                    <img src="assets/studiis.png" alt="">
            </div>
            <div class="imag">
                <h2>imagem</h2>
                    <img src="assets/studiis.png" alt="">
             </div>
          </main>
        </section>
        </section>

        <section class="autor">
            <div>
                <h2>Autor</h2>
            </div>
            <div>
                <h2>Autor</h2>
            </div>
            <div>
                <h2>Autor</h2>
            </div>
            
        </section>

   


        <form id="cadastro">
            
        <fieldset  class="cad">
            <section class="sessao__noticias">
                <h1>Notícias</h1>
                <div class="noticias-link"><div class="nome_t">
                    <a class="t" href="/cadastrar">Cadastrar nova notícia</a></div>
                    <br>
                    <div class="campo">
                        <a class="m" href="/noticias">Ver notícias cadastradas</a>
                    </div>
                </div>
            </section>

        
        </fieldset>
        </form>
        <footer>
            <h3 class="ni">Agnes Vitória Beza Schmidt | Giovanna Reis | John Lucas Hennig | Lucas Gabriel Kraemer da Silva | Youssef Kauer Ly
            </h3>

        </footer>
       
        
    
</body>
</html>